@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.container {
    padding: 10px;
    color: white;
}

#city {
    font-size: 2rem;
}

#desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 35px;
}

#description {
    text-transform: capitalize;
    font-size: 1.2rem;
}

#temp-p {
    font-size: 3rem;
}

#format {}

#new-name {
    width: 100%;
    max-width: 350px;
    border: solid 1px #e2e2e2;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 1.2rem;
}

#get-weather {
    font-size: 1.2rem;
    padding: 7px 20px 10px;
    background-color: #7e0000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

#get-weather:hover {
    background-color: #803d3d;
}

table {
    background-color: whitesmoke;
    color: #111433;
}

.body01d {
    background: linear-gradient( #51a4db, #73b9e1);
    height: 100vh;
}

.body02d {
    background: linear-gradient( #51a4db, #9ac5dd);
    height: 100vh;
}

.body03d {
    background: linear-gradient( #65a5d0, #ccd0d1);
    height: 100vh;
}

.body04d {
    background: linear-gradient( #5393b2, #a7bdca);
    height: 100vh;
}

.body09d {
    background: linear-gradient( #5393b2, #cfaea7);
    height: 100vh;
}

.body10d {
    background: linear-gradient( #4065a4, #cfaea7);
    height: 100vh;
}

.body11d {
    background: linear-gradient( #2e4979, #ac8f89);
    height: 100vh;
}

.body13d {
    background: linear-gradient( #777b86, #adb7be);
    height: 100vh;
}

.body50d {
    background: linear-gradient( #bc8db8, #5f5f91);
    height: 100vh;
}

.body01n {
    background: linear-gradient( #091b49, #614c8f);
    height: 100vh;
}

.body02n {
    background: linear-gradient( #091b49, #736394);
    height: 100vh;
}

.body03n {
    background: linear-gradient( #091b49, #9e99aa);
    height: 100vh;
}

.body04n {
    background: linear-gradient( #091b49, #aeaeae);
    height: 100vh;
}

.body09d {
    background: linear-gradient( #0a1122, #5f504d);
    height: 100vh;
}

.body10d {
    background: linear-gradient( #0a1122, #5f5b5a);
    height: 100vh;
}

.body11d {
    background: linear-gradient( #0a1122, #747474);
    height: 100vh;
}

.body13n {
    background: linear-gradient( #37383d, #798085);
    height: 100vh;
}

.body50n {
    background: linear-gradient( #684e65, #29293d);
    height: 100vh;
}